In [39]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [40]:
#Dependencies to scrap data
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import numpy as np

### Extract CSVs into DataFrames

In [54]:
car_file_path = "../top_selling_car.csv"
car_data = pd.read_csv(car_file_path)
car_data.head()

,#,Car brand,Car model,Release year,"Models sold, in thousands","Maximum speed, km/h",Percent of sells among the brand,"Sales in 2018, in thousands","Price, $"
0,1,Toyota,Corolla,1966,43000,220,15,1200,12000
1,2,Ford,F-Series,1977,40000,210,8,400,27000
2,3,Volkswagen,Golf,1974,30000,240,20,2500,18000
3,4,Volkswagen,Beetle,1938,23000,254,15,259,15000
4,5,Vaz,2101,1970,19000,180,30,10,12000

In [57]:
car_info = car_data[["#","Car brand","Car model","Release year","Maximum speed, km/h"]]
car_info = car_info.rename(columns ={"#":"ranking","Car brand":"brand","Car model":"model","Release year":"year_release","Maximum speed, km/h":"max_speed"})
car_info.head()

   ranking       brand     model  year_release  max_speed
0        1      Toyota   Corolla          1966        220
1        2        Ford  F-Series          1977        210
2        3  Volkswagen      Golf          1974        240
3        4  Volkswagen    Beetle          1938        254
4        5         Vaz      2101          1970        180

In [74]:
car_brand = car_data[["Car brand","Car model"]]
car_brand.loc[:,"year_2012"]="2012"
car_brand.head()

    Car brand Car model year_2012
0      Toyota   Corolla      2012
1        Ford  F-Series      2012
2  Volkswagen      Golf      2012
3  Volkswagen    Beetle      2012
4         Vaz      2101      2012

### Use data from the car_brand table to look for a number of cars on first page of each  model from Edmunds.com.

In [75]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#Url to get the good deal of cars
brand=car_brand["Car brand"].astype(str)
model=car_brand["Car model"].astype(str)
year=car_brand["year_2012"].astype(str)

In [51]:
new_data  = list() 
for i in range(0,len(brand)):
    try:
        url="https://www.edmunds.com/inventory/srp.html?inventorytype=used%2Ccpo&make="+brand[i]+"&model="+model[i]+"&year="+year[i]+"-"+year[i]
        browser.visit(url)
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')
        prices = soup.find_all('h3', class_='mb-0 text-gray-darker')
        results = soup.find_all('li', class_="search-results-inventory-card no-gutters list-unstyled bg-white mb-0_75 mb-lg-1 srp-vehicle-card hover row")
        for j in range(0,len(results)):
            data={}
            href=results[j].a["href"]
            desc=results[j].figure.img["alt"]
            vin=href.split('vin/')[1].split('/')[0]
            price = prices[j].text            
            mileage=results[j].find('span', class_="text-gray-darker ml-0_25").text
            if (desc and vin and mileage and price):
                data["model"]=model[i]
                data["description"]=desc
                data["vin"]=vin
                data["mileage"]=mileage
                data["price"]=price
                new_data.append(data)
    except (Exception, KeyError) as e:
        print(e)
# Close the browser after scraping
browser.quit()

### Create a new DataFrame from the web scraping data

In [86]:
carweb_df=pd.DataFrame(new_data,columns=["model","description","vin","mileage","price"])
carweb_df.head()

,model,description,vin,mileage,price
0,Corolla,2012 Toyota Corolla LE in Silver,5YFBU4EE4CP018715,"113,119 miles","$6,995"
1,Corolla,2012 Toyota Corolla L in Dark Blue,5YFBU4EE4CP063136,"84,169 miles","$9,019"
2,Corolla,2012 Toyota Corolla S in Black,5YFBU4EE0CP029405,"138,476 miles","$7,995"
3,Corolla,2012 Toyota Corolla S in White,2T1BU4EE0CC900545,"56,752 miles","$12,900"
4,Golf,2012 Volkswagen Golf 2.0L TDI in Black,WVWDM7AJ0CW132117,"58,723 miles","$8,991"

### Connect to local database

In [78]:
connection_string = "postgres:"+ password+ "@localhost:5432/cars_db"
engine = create_engine(f'postgresql://{connection_string}')

### Check for tables

In [87]:
engine.table_names()

['car_info', 'car_web']

### Use pandas to load car_info DataFrame into database

In [82]:
car_info.to_sql(name='car_info', con=engine, if_exists='append', index=False)

### Use pandas to load carweb_df DataFrame into database

In [84]:
carweb_df.to_sql(name='car_web', con=engine, if_exists='append', index=False)

### Query data from car_brand table in Postgres SQL into Pandas

In [85]:
pd.read_sql_query('select * from car_info', con=engine).head()

   ranking       brand     model  year_release  max_speed
0        1      Toyota   Corolla          1966        220
1        2        Ford  F-Series          1977        210
2        3  Volkswagen      Golf          1974        240
3        4  Volkswagen    Beetle          1938        254
4        5         Vaz      2101          1970        180

### Query data from car_web table in Postgres SQL into Pandas

In [88]:
pd.read_sql_query('select * from car_web', con=engine).head()

,model,description,vin,mileage,price
0,Corolla,2012 Toyota Corolla LE in Silver,5YFBU4EE4CP018715,"113,119 miles","$6,995"
1,Corolla,2012 Toyota Corolla L in Dark Blue,5YFBU4EE4CP063136,"84,169 miles","$9,019"
2,Corolla,2012 Toyota Corolla S in Black,5YFBU4EE0CP029405,"138,476 miles","$7,995"
3,Corolla,2012 Toyota Corolla S in White,2T1BU4EE0CC900545,"56,752 miles","$12,900"
4,Golf,2012 Volkswagen Golf 2.0L TDI in Black,WVWDM7AJ0CW132117,"58,723 miles","$8,991"

### Query the data from two tables in PostgresSQL into pandas

In [122]:
query_table = pd.read_sql_query('select i.ranking, i.brand, i.max_speed, w.* from car_info i, car_web w where i.model=w.model', con=engine)
query_table

,ranking,brand,max_speed,model,description,vin,mileage,price
0,1,Toyota,220,Corolla,2012 Toyota Corolla S in White,2T1BU4EE0CC900545,"56,752 miles","$12,900"
1,1,Toyota,220,Corolla,2012 Toyota Corolla S in Black,5YFBU4EE0CP029405,"138,476 miles","$7,995"
2,1,Toyota,220,Corolla,2012 Toyota Corolla L in Dark Blue,5YFBU4EE4CP063136,"84,169 miles","$9,019"
3,1,Toyota,220,Corolla,2012 Toyota Corolla LE in Silver,5YFBU4EE4CP018715,"113,119 miles","$6,995"
4,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Gray,WVWNM7AJ6CW162033,"77,155 miles","$13,000"
5,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in White,WVWMM7AJ9CW229008,"34,129 miles","$15,400"
6,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Light Blue,WVWDM7AJ5CW337397,"63,183 miles","$13,900"
7,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI,WVWBM7AJ0CW078339,"25,466 miles","$15,500"
8,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Silver,WVWDM7AJ4CW345619,"69,833 miles","$11,091"
9,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Silver,WVWNM7AJ2CW248052,"68,137 miles","$13,191"
10,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Silver,WVWMM7AJ1CW152909,"64,164 miles","$13,091"
11,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Gray,WVWDM7AJ0CW257635,"64,099 miles","$12,951"
12,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in White,WVWMM7AJ4CW046857,"63,295 miles","$11,591"
13,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Silver,WVWDM7AJ7CW318155,"58,884 miles","$12,721"
14,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in White,WVWBM7AJXCW255799,"58,071 miles","$11,891"
15,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Dark Blue,WVWBM7AJ4CW081406,"82,944 miles","$10,591"
16,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Silver,WVWDM7AJXCW334821,"58,916 miles","$12,491"
17,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Dark Blue,WVWDM7AJ4CW075520,"57,609 miles","$12,091"
18,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Black,WVWDM7AJ3CW295554,"37,476 miles","$14,809"
19,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Dark Blue,WVWMM7AJ2CW281807,"59,792 miles","$10,991"
20,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in White,WVWDM7AJXCW020411,"72,302 miles","$9,891"
21,3,Volkswagen,240,Golf,2012 Volkswagen Golf 2.0L TDI in Black,WVWDM7AJ0CW132117,"58,723 miles","$8,991"
22,4,Volkswagen,254,Beetle,2012 Volkswagen Beetle 2.0T Turbo PZEV in Gray,3VWVA7AT8CM616631,"94,001 miles","$10,700"
23,4,Volkswagen,254,Beetle,2012 Volkswagen Beetle 2.5L PZEV in Gray,3VWHP7AT6CM625033,"38,800 miles","$10,700"
24,4,Volkswagen,254,Beetle,2012 Volkswagen Beetle 2.5L in Dark Brown,3VWJX7AT8CM665776,"84,043 miles","$7,500"
25,4,Volkswagen,254,Beetle,2012 Volkswagen Beetle 2.0T Turbo in Dark Red,3VWVA7AT1CM606460,"74,871 miles","$9,291"
26,4,Volkswagen,254,Beetle,2012 Volkswagen Beetle 2.0T Turbo in White,3VW467AT6CM642478,"46,302 miles","$8,400"
27,6,Honda,270,Civic,2012 Honda Civic LX in Dark Blue,2HGFB2F56CH598180,"102,288 miles","$10,400"
28,6,Honda,270,Civic,2012 Honda Civic Hybrid,JHMFB4F22CS005468,"89,638 miles","$10,600"
29,6,Honda,270,Civic,2012 Honda Civic LX in Gray,19XFB2F53CE311288,"57,950 miles","$12,300"
...,...,...,...,...,...,...,...,...
142,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C300 Sport 4MATIC i...,WDDGF8BB3CA615396,"66,422 miles","$15,200"
143,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C300 Sport 4MATIC i...,WDDGF8BB2CA656506,"42,837 miles","$16,000"
144,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C300 Sport 4MATIC i...,WDDGF8BB2CR230008,"93,944 miles","$11,299"
145,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C300 Luxury 4MATIC ...,WDDGF8BB7CA655576,"83,302 miles","$11,291"
146,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 Sport in Silver,WDDGF4HBXCR226983,"71,136 miles","$11,500"
147,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C300 Sport 4MATIC i...,WDDGF8BB8CA694838,"77,836 miles","$12,991"
148,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 Sport in Black,WDDGF4HB9CR217482,"122,157 miles","$8,990"
149,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C63 AMG in White,WDDGF7HB3CA672795,"19,741 miles","$35,995"
150,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 Sport in Black,WDDGF4HB1CA658036,"68,320 miles","$10,995"
151,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 in Black,WDDGJ4HB3CF816703,"74,698 miles","$11,995"
152,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 in Black,WDDGJ4HB3CF768118,"51,612 miles","$13,395"
153,24,Mercedes Benz,290,C-Class,2012 Mercedes-Benz C-Class C250 Sport in Black,WDDGF4HB8CA634705,"62,560 miles","$10,995"
154,25,Ford,300,Mustang,2012 Ford Mustang V6 in Dark Blue,1ZVBP8AM2C5247559,"74,567 miles","$15,300"
155,25,Ford,300,Mustang,2012 Ford Mustang GT in Dark Blue,1ZVBP8CF3C5286899,"73,096 miles","$19,100"
156,25,Ford,300,Mustang,2012 Ford Mustang V6 in Black,1ZVBP8AM0C5265929,"65,600 miles","$15,900"
157,25,Ford,300,Mustang,2012 Ford Mustang V6 in Red,1ZVBP8EM8C5282875,"52,783 miles","$14,400"
158,25,Ford,300,Mustang,2012 Ford Mustang GT in White,1ZVBP8FF0C5265200,"37,246 miles","$24,500"
159,25,Ford,300,Mustang,2012 Ford Mustang GT Premium in Black,1ZVBP8CF2C5268068,"33,232 miles","$24,000"
160,25,Ford,300,Mustang,2012 Ford Mustang V6 in Black,1ZVBP8AM9C5280588,"65,464 miles","$12,500"
161,25,Ford,300,Mustang,2012 Ford Mustang V6 in Black,1ZVBP8AM7C5250893,"41,475 miles","$15,500"
162,25,Ford,300,Mustang,2012 Ford Mustang Boss 302 in Dark Blue,1ZVBP8CU6C5239123,"11,736 miles","$38,200"
163,25,Ford,300,Mustang,2012 Ford Mustang Boss 302 in Orange,1ZVBP8CU8C5208925,"62,780 miles","$26,500"
164,25,Ford,300,Mustang,2012 Ford Mustang Boss 302 in Orange,1ZVBP8CU0C5248402,"12,167 miles","$32,600"
165,25,Ford,300,Mustang,2012 Ford Mustang V6 in Red,1ZVBP8AM1C5265616,"6,499 miles","$18,500"
166,25,Ford,300,Mustang,2012 Ford Mustang V6 in Black,1ZVBP8AM6C5269533,"77,448 miles",Not Listed
167,25,Ford,300,Mustang,2012 Ford Mustang V6 in Dark Blue,1ZVBP8AM5C5254067,"96,639 miles","$8,998"
168,25,Ford,300,Mustang,2012 Ford Mustang V6 in White,1ZVBP8AM5C5209341,"61,677 miles","$15,200"
169,25,Ford,300,Mustang,2012 Ford Mustang GT in Black,1ZVBP8CF4C5224296,"83,507 miles","$15,895"
170,25,Ford,300,Mustang,2012 Ford Mustang Boss 302 in Yellow,1ZVBP8CU2C5223971,"47,699 miles","$26,391"
171,25,Ford,300,Mustang,2012 Ford Mustang Boss 302 in Orange,1ZVBP8CU6C5269786,"4,239 miles","$31,620"

In [121]:
pd.read_sql_query("select * from car_web w where model='Corolla'", con=engine)

,model,description,vin,mileage,price
0,Corolla,2012 Toyota Corolla LE in Silver,5YFBU4EE4CP018715,"113,119 miles","$6,995"
1,Corolla,2012 Toyota Corolla L in Dark Blue,5YFBU4EE4CP063136,"84,169 miles","$9,019"
2,Corolla,2012 Toyota Corolla S in Black,5YFBU4EE0CP029405,"138,476 miles","$7,995"
3,Corolla,2012 Toyota Corolla S in White,2T1BU4EE0CC900545,"56,752 miles","$12,900"

In [127]:
pd.read_sql_query("select * from car_web where model ='Civic'", con=engine)

,model,description,vin,mileage,price
0,Civic,2012 Honda Civic LX in Light Blue,2HGFG3B58CH561239,"6,055 miles","$9,995"
1,Civic,2012 Honda Civic Si in Black,2HGFG4A51CH701073,"90,066 miles","$9,991"
2,Civic,2012 Honda Civic EX in Silver,2HGFG3B89CH542385,"88,372 miles","$6,495"
3,Civic,2012 Honda Civic Si in White,2HGFG4A51CH705625,"85,802 miles","$11,795"
4,Civic,2012 Honda Civic Si in Red,2HGFG4A59CH705355,"73,558 miles","$12,750"
5,Civic,2012 Honda Civic LX in Silver,2HGFB2F54CH543503,"123,392 miles","$8,413"
6,Civic,2012 Honda Civic EX,2HGFG3B83CH529387,"32,466 miles","$13,998"
7,Civic,2012 Honda Civic LX in Gray,2HGFB2F54CH315470,"112,837 miles","$7,675"
8,Civic,2012 Honda Civic LX in Silver,19XFB2F52CE007241,"110,650 miles","$8,265"
9,Civic,2012 Honda Civic Si in Black,2HGFB6E54CH700567,"118,555 miles","$10,495"
10,Civic,2012 Honda Civic Hybrid,JHMFB4F27CS002467,"102,000 miles","$6,500"
11,Civic,2012 Honda Civic EX in Black,2HGFG3B80CH520419,Not Provided,Not Listed
12,Civic,2012 Honda Civic EX-L in Gray,2HGFB2F93CH531068,"61,156 miles","$14,100"
13,Civic,2012 Honda Civic LX in Gray,19XFB2F53CE311288,"57,950 miles","$12,300"
14,Civic,2012 Honda Civic Hybrid,JHMFB4F22CS005468,"89,638 miles","$10,600"
15,Civic,2012 Honda Civic LX in Dark Blue,2HGFB2F56CH598180,"102,288 miles","$10,400"