In [2]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [3]:
#Dependencies to scrap data
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import re

### Extract CSVs into DataFrames

In [9]:
car_file_path = "../top_selling_car.csv"
car_data = pd.read_csv(car_file_path)
car_brand = car_data[["#","Car brand","Car model","Release year"]]
car_brand = car_brand.rename(columns ={"#":"top","Car brand":"brand","Car model":"model","Release year":"year_release"})
car_brand["2011"]="2011"
car_brand["2012"]="2012"
car_brand["2013"]="2013"
car_brand["2014"]="2014"
car_brand["2015"]="2015"
car_brand

,top,brand,model,year_release,2011,2012,2013,2014,2015
0,1,Toyota,Corolla,1966,2011,2012,2013,2014,2015
1,2,Ford,F-Series,1977,2011,2012,2013,2014,2015
2,3,Volkswagen,Golf,1974,2011,2012,2013,2014,2015
3,4,Volkswagen,Beetle,1938,2011,2012,2013,2014,2015
4,5,Vaz,2101,1970,2011,2012,2013,2014,2015
5,6,Honda,Civic,1972,2011,2012,2013,2014,2015
6,7,Ford,Escort,1968,2011,2012,2013,2014,2015
7,8,Honda,Accord,1976,2011,2012,2013,2014,2015
8,9,Ford,Model T,1908,2011,2012,2013,2014,2015
9,10,Volkswagen,Passat,1973,2011,2012,2013,2014,2015
10,11,Ford,Fiesta,1976,2011,2012,2013,2014,2015
11,12,Chevrolet,Impala,1958,2011,2012,2013,2014,2015
12,13,BMW,M3 Series,1975,2011,2012,2013,2014,2015
13,14,Opel,Corsa,1983,2011,2012,2013,2014,2015
14,15,Ford,Focus,1998,2011,2012,2013,2014,2015
15,16,Chrysles,Town & Country,1990,2011,2012,2013,2014,2015
16,17,Volkswagen,Polo,1975,2011,2012,2013,2014,2015
17,18,Renault,Clio,1990,2011,2012,2013,2014,2015
18,19,Opel,Astra,1991,2011,2012,2013,2014,2015
19,20,Oldsmobile,Cutclass,1961,2011,2012,2013,2014,2015
20,21,Mazda,323,1963,2011,2012,2013,2014,2015
21,22,Volkswagen,Jetta,1979,2011,2012,2013,2014,2015
22,23,Toyota,Camry,1982,2011,2012,2013,2014,2015
23,24,Mercedes Benz,C-Class,1994,2011,2012,2013,2014,2015
24,25,Ford,Mustang,1964,2011,2012,2013,2014,2015

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
car_price=car_brand
car_price["vin_2011"]=""
car_price["vin_2012"]=""
car_price["vin_2013"]=""
car_price["vin_2014"]=""
car_price["vin_2015"]=""
car_price["2011"]=''
car_price["2012"]=''
car_price["2013"]=''
car_price["2014"]=''
car_price["2015"]=''
car_price.head()

,top,brand,model,year_release,2011,2012,2013,2014,2015,vin_2011,vin_2012,vin_2013,vin_2014,vin_2015
0,1,Toyota,Corolla,1966,,,,,,,,,,
1,2,Ford,F-Series,1977,,,,,,,,,,
2,3,Volkswagen,Golf,1974,,,,,,,,,,
3,4,Volkswagen,Beetle,1938,,,,,,,,,,
4,5,Vaz,2101,1970,,,,,,,,,,

In [8]:
#Url to get the good deal of cars
brand=car_price["brand"].astype(str)
model=car_price["model"].astype(str)
for i in range(1,6):
    year = "201"+str(i)
    year_vin_text = "vin_201"+str(i)
    for j in range(1,len(car_brand)):
        try:
            url="https://www.edmunds.com/inventory/srp.html?inventorytype=used%2Ccpo&make="+brand[j]+"&model="+model[j]+"&year="+year+"-"+year
            browser.visit(url)
            html = browser.html
            soup = BeautifulSoup(html, 'html.parser')
            #prices = soup.find_all('h3', class_='mb-0 text-gray-darker')
            results = soup.find_all('li', class_="search-results-inventory-card no-gutters list-unstyled bg-white mb-0_75 mb-lg-1 srp-vehicle-card hover row")
            price = results[0].find('h3',class_="mb-0 text-gray-darker").text
            href=results[0].a["href"]
            vin=re.findall('vin/(.+)/',href)
            if (vin and price):
                car_price.loc[j+1,year] = price
                car_price.loc[j+1,year_vin_text] = vin
        except (Exception, KeyError) as e:
            print(e)

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
25
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
25
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
25
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
25

In [16]:
car_price

,top,brand,model,year_release,2011,2012,2013,2014,2015,vin_2011,vin_2012,vin_2013,vin_2014,vin_2015
0,1.0,Toyota,Corolla,1966.0,,,,,,,,,,
1,2.0,Ford,F-Series,1977.0,,,,,,,,,,
2,3.0,Volkswagen,Golf,1974.0,,,,,,,,,,
3,4.0,Volkswagen,Beetle,1938.0,"$9,391","$9,391","$15,700",,"$16,300",WVWDM7AJ4BW213877,WVWDM7AJ0CW132117,WVWDM7AJ9DW003990,,3VW2A7AU3FM046893
4,5.0,Vaz,2101,1970.0,,"$6,991","$13,760","$16,900","$11,388",,3VWHX7AT1CM636408,3VWJP7AT3DM657215,3VWJL7AT2EM660703,3VWF17AT8FM635723
5,6.0,Honda,Civic,1972.0,,,,,,,,,,
6,7.0,Ford,Escort,1968.0,"$8,588","$9,991","$12,900","$12,995","$8,991",19XFA1F51BE045233,2HGFG4A51CH701073,19XFB2F95DE253284,19XFB2F99EE084355,19XFB2F87FE086310
7,8.0,Honda,Accord,1976.0,,,,,,,,,,
8,9.0,Ford,Model T,1908.0,"$8,490","$8,895","$8,991","$11,436","$16,691",1HGCP2F61BA107914,1HGCS1B72CA015736,1HGCR2E56DA125184,1HGCR2F37EA192360,1HGCR3F9XFA034266
9,10.0,Volkswagen,Passat,1973.0,,,,,,,,,,
10,11.0,Ford,Fiesta,1976.0,,"$5,600","$12,478","$8,997","$14,988",,1VWAP7A37CC090393,1VWCN7A39DC141814,1VWCS7A38EC013994,1VWCV7A30FC012945
11,12.0,Chevrolet,Impala,1958.0,"$3,895","$5,990","$6,993","$5,995","$6,999",3FADP4BJ1BM181710,3FADP4BJ7CM218681,3FADP4AJ0DM149769,3FADP4TJ6EM206670,3FADP4AJ5FM213436
12,13.0,BMW,M3 Series,1975.0,"$4,250","$8,997","$5,199","$17,981","$11,750",2G1WF5EKXB1116497,2G1WB5E37C1204655,2G1WG5E30D1233319,2G1125S32E9101744,1G1165S34FU108705
13,14.0,Opel,Corsa,1983.0,,,,,,,,,,
14,15.0,Ford,Focus,1998.0,,,,,,,,,,
15,16.0,Chrysles,Town & Country,1990.0,,"$7,169","$7,750","$8,999","$6,995",,1FAHP3F2XCL356828,1FADP3J26DL330637,1FADP3N24EL143814,1FADP3F2XFL336324
16,17.0,Volkswagen,Polo,1975.0,,,,,,,,,,
17,18.0,Renault,Clio,1990.0,,,,,,,,,,
18,19.0,Opel,Astra,1991.0,,,,,,,,,,
19,20.0,Oldsmobile,Cutclass,1961.0,,,,,,,,,,
20,21.0,Mazda,323,1963.0,,,,,,,,,,
21,22.0,Volkswagen,Jetta,1979.0,,,,,,,,,,
22,23.0,Toyota,Camry,1982.0,"$8,988","$6,991","$13,500","$6,699","$8,495",3VWLL7AJ7BM076140,3VWDP7AJ9CM462018,3VWLL7AJ5DM258017,3VWD17AJ1EM365447,3VWD17AJ8FM262186
23,24.0,Mercedes Benz,C-Class,1994.0,"$8,349","$11,491","$10,591","$9,191","$16,676",4T1BF3EK6BU217014,4T1BK1FK8CU517668,4T1BF1FK2DU721176,4T1BF1FK4EU798147,4T1BK1FK9FU029317
24,25.0,Ford,Mustang,1964.0,"$18,000","$13,395","$15,995","$32,515","$39,995",WDDGF7HB1BF549725,WDDGJ4HB3CF768118,WDDGJ5HB8DG014133,WDDGF7HB1EA940018,55SWF8HB8FU071758
25,NaN,NaN,NaN,NaN,"$8,491","$15,895","$13,495","$14,800","$14,991",1ZVBP8AM9B5149711,1ZVBP8CF4C5224296,1ZVBP8AM9D5283413,1ZVBP8AM6E5309659,1FA6P8TH1F5342399

In [74]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
prices = soup.find_all('h3', class_='mb-0 text-gray-darker')
results = soup.find_all('li', class_="search-results-inventory-card no-gutters list-unstyled bg-white mb-0_75 mb-lg-1 srp-vehicle-card hover row")
price = results[0].find('h3',class_="mb-0 text-gray-darker").text
a=results[0].a["href"]
vin=re.findall('vin/(.+)/',a)
print(vin)
print(price)

['19XFB2F87FE086310']
$8,991